.topOfHome{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid;
    align-items: center;
    background-color: lightblue;
    
}

.pageLinks{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    float: center;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.link1{
    background-color: red;

}

.link2{

}

.link3{

}
