.topOfHome{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid;
    align-items: center;
    
}

.pageLinks{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    float: left;
}
