.topOfHome{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid;
    align-items: center;
    background-color: lightblue;
    
}

.pageLinks{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    float: center;
}
